<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Single</title>
	<style type="text/css" media="screen">
	.wrap {
		margin: 0 10%;
	}
	header, footer {
		background: #ccc;
	}
	</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<p>Ut sit amet sapien leo, ut vestibulum nisi. Integer at enim tellus. Etiam euismod, magna vel varius porta, nisi urna vehicula risus, et ornare nulla enim quis dolor. Duis luctus hendrerit purus, id fermentum risus tristique eget. Phasellus accumsan neque quis enim posuere euismod. Praesent mollis dignissim dolor. Sed tincidunt odio vitae elit pulvinar in luctus lacus hendrerit. Vivamus tempor tincidunt ipsum, nec porta velit lacinia nec. Fusce consectetur suscipit erat id semper.</p>
			<p>Ut sit amet sapien leo, ut vestibulum nisi. Integer at enim tellus. Etiam euismod, magna vel varius porta, nisi urna vehicula risus, et ornare nulla enim quis dolor. Duis luctus hendrerit purus, id fermentum risus tristique eget. Phasellus accumsan neque quis enim posuere euismod. Praesent mollis dignissim dolor. Sed tincidunt odio vitae elit pulvinar in luctus lacus hendrerit. Vivamus tempor tincidunt ipsum, nec porta velit lacinia nec. Fusce consectetur suscipit erat id semper.</p>
		</section>
		<footer>
			<p>This is a footer</p>
		</footer>	
	</div>
</body>
</html>